/* Configuração Universal --Começo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{

    font-size: 62.5%;
    font-family: 'Roboto';

    background-image: url('../img/backgroundV1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top 80px;
}

/* Responsividade --Começo*/
/* Iphone 5: 320 x 568 */
@media (max-width: 374px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 45%;
    }
}

/*SmartPhone: 248 x 374 */
@media (min-width: 248px) and (max-width: 374px) {

    html {
        background-image: url('../img/backgroundMobileV1.png');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 25%;
        background-position: center top 50rem;
    }
    /* Header Mobile --Começo */

    header.flex-header nav{
        display: none;
        }
    header.flex-header div span:first-child{
        display: none;
    }
    header.flex-header div span:last-child{
        padding-left: 3rem;
    }
   
    header.flex-header div label {
        margin-left: 2rem;
       
    }

    header.flex-header{
        padding: 1rem 1rem;
    }

    header.flex-header div{
        padding: 1rem 1rem;
    }

    .flex-section div{
        max-width: 100% !important;
    }
    .flex-section div h1{
        margin-bottom: 6rem;
    }

    div.flex-section.text-middle{
        padding-top: 15rem;
    }

}
/* Header Mobile --Fim */
/* Smartphone 375 x 667 */
@media (min-width: 375px) and (max-width: 899px) {

    html {
        background-image: url('../img/backgroundMobileV1.png');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 39%;
        background-position: center top 50rem;
    }
    /* Header Mobile --Começo */

    header.flex-header nav{
        display: none;
        }
    header.flex-header div span:first-child{
        display: none;
    }
    header.flex-header div span:last-child{
        padding-left: 3rem;
    }
   
    header.flex-header div label {
        margin-left: 2rem;
       
    }

    header.flex-header{
        padding: 1rem 1rem;
    }

    header.flex-header div{
        padding: 1rem 1rem;
    }

    .flex-section div{
        max-width: 100% !important;
    }
    .flex-section div h1{
        margin-bottom: 6rem;
    }

    div.flex-section.text-middle{
        padding-top: 5rem;
    }
    

}
/* Header Mobile --Fim */

/* Ipad */
@media (min-width: 900px) and (max-width: 994px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 35%;
    }
    .flex-header nav ul li a{
        font-size: 125%;
        color: #505050;
        font-weight: 500;
        
    }
    header.flex-header div span:last-child{
        display: none;
    }
}

/* Laptop*/
@media (min-width: 995px) and (max-width: 1157px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 40%;
    }
    .flex-header nav ul li a{
        font-size: 125%;
        color: #505050;
        font-weight: 500;
        
    }
    header.flex-header div span:last-child{
        display: none;
    }
}
/* Desktop */
@media (min-width: 1158px) and (max-width: 1300px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 45%;
    }
    .flex-header nav ul li a{
        font-size: 125%;
        color: #505050;
        font-weight: 500;
        
    }
    header.flex-header div span:last-child{
        display: none;
    }
}

/* Desktop HD*/
@media (min-width: 1300px) and (max-width: 1680px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 50%;
    }
    .flex-header nav ul li a{
        font-size: 125%;
        color: #505050;
        font-weight: 500;
        
    }
    header.flex-header div span:last-child{
        display: none;
    }
}

/* Desktop Full HD*/
@media (min-width: 1681px) and (max-width: 1920px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 65%;
    }
    header.flex-header div span:last-child{
        display: none;
    }
}

/* Desktop 4k */
@media (min-width: 1921px) and (max-width: 2560px) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-size: 80%;
    }
    .flex-header nav {
        margin-left: -20rem;
    }
    .flex-header nav ul li a{
        font-size: 80%;
        color: #505050;
        font-weight: 500;
        
    }
    header.flex-header div span:last-child{
        display: none;
    }
}

/* Maiores que Desktop 4k*/
@media (min-width: 2561px) {
    html {
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-repeat: no-repeat;
    }
    header.flex-header div span:last-child{
        display: none;
    }
}



/* Header --Começo*/
.flex-header nav {
    font-size: 20rem;
}


.flex-header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: .7rem 5rem;

    color: #505050;
    font-weight: 500;
    
}

.flex-header nav ul{
    display: flex;
    margin-left: 20rem;
    font-size: 1.5rem;
    
    
}

.flex-header ul li{
    
    padding: 20px;
    list-style: none;
    padding-left: 2rem;
    
}
.flex-header a{
    color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    
}

.flex-header div label{
    margin-left: 20px;
}
.flex-header div span:first-child{
    margin-right: 30px;
}


/* Header --Fim*/


/* Section Consulta/Explorar --Começo*/
.flex-section {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6rem;
    text-align: center;
}

.flex-section div{
    max-width: 80%;
    max-height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-section div div {
    
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2.5rem;
    
}

.flex-section div:nth-child(1) div:nth-child(1){
    display: flex;
    flex-direction: column;

    line-height: 9.2rem;

}

.flex-section div h1{
    font-size: 8rem;
    font-weight: 450;
}
.flex-section div p{
    font-size: 2rem;
    color: #9a9a9a;
}

.flex-section div div label{
    margin: .1rem 1.4rem;
}
/* Section Consulta/Explorar  --Fim*/


/* Texto Meio --Começo*/

.text-middle {
    padding-top: 45rem
}

/* Texto Meio --Fim*/


/* Footer --Começo*/
.flex-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.flex-footer ul li{
    font-size: 1.5rem;
    list-style: none;
    padding-left: 2rem;
}

.flex-footer ul{
    margin-right: 3rem;
}

.flex-footer img{
    margin: 1rem 3rem;
}
/* Footer --Fim*/