@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
}

/* div que engloba toda a tela */
.div-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* padding-top: 8rem; */
  padding-bottom: 20rem;
  padding-left: 12px;
  padding-right: 12px;
}

/* contém a imagem com a logo */
.div-nome-site {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.056rem;
  margin-bottom: 2rem;
}

.div-caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 39.8rem;
  height: 39.283rem;

  border-radius: 8px;
  background-color: white;
  opacity: 0.63;

  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

@media screen and (max-width: 418px) {
  .div-main {
    transform: scale(0.9);
  }

  .div-nome-site {
    transform: scale(0.9);
    margin-bottom: 1rem;
}

  .div-caixa {    
    transform: scale(0.9);
  }
}

@media screen and (max-width: 375px) {
    .div-main {
      transform: scale(0.85);
    }

    .div-nome-site {
        transform: scale(0.85);
        margin-bottom: 0.2rem;
    }
  
    .div-caixa {    
      transform: scale(0.85);
    }
  }

  @media screen and (max-width: 298px) {
    .div-main {
        transform: scale(0.83);
      }
  
      .div-nome-site {
          transform: scale(0.83);
          margin-bottom: 0rem;
      }
    
      .div-caixa {    
        transform: scale(0.83);
      }
  }

.div-frase-login {
  display: flex;
  align-items: center;

  padding-top: 2.4rem;
  padding-bottom: 1.6rem;

  font-size: 1.6rem;
  font-weight: 2rem;
}

.div-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 64px;
}

.div-email div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 52px;
  border: 1px grey solid;
  border-radius: 0.3rem;
  padding-left: 1.1rem;
}

.div-email input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.div-senha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 64px;
  padding-bottom: 6px;
}

.div-senha div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 52px;
  border: 1px grey solid;
  border-radius: 0.3rem;
  padding-left: 1.1rem;
}

.div-senha input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.div-botao-entrar {
  display: flex;
  justify-content: center;
  width: 364px;
  height: 64px;
  padding-bottom: 0.6;
}

.div-botao-entrar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 48px;
}

.div-botao-entrar label {
  display: flex;
  align-items: center;
}

.div-recuperar-senha {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.075rem;
  padding-top: 1rem;
  font-weight: medium;
  font-size: 1.5rem;
}

.div-recuperar-senha a {
  color: #a66fd1;
}

.div-recuperar-senha a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #a66fd1;
}

.div-opcao {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: medium;
}

.div-hr {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1.4rem;
}

._div-hr {
  width: 100%;
  padding-left: 1.4rem;
  padding-right: 1rem;
}

.div-botao-registrar {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36.4rem;
  height: 4.8rem;
}
