/* Buttons --Começo*/

.primary-btn {
    color: #000;
    background-color: #f7f6f9;
    padding: .8rem 2rem;
    border: none;

    font-size: 1.5rem;
    font-weight: bold;

}

.primary-lbl{
    border: 2px solid #f7f6f9d2;
    padding: 1rem;
    

}
.secondary-btn {
    color: #fff;
    background-color: #a66fd1;
    padding: .8rem 2rem;
    border: none;

    font-size: 1.5rem;
    font-weight: bold;
}

.secondary-lbl{
    border: 2px solid #a76fd17d;
    padding: 1rem;

}

/* Buttons --Fim*/